{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Fiverr{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link href='https://fonts.googleapis.com/css?family=Satisfy:400,700' rel='stylesheet' type='text/css'>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% block stylesheet %}

{% endblock %}

</head>
<body>
	<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<!--Header -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'index' %}">Music App</a>
			
		</div>
		{% if request.user.is_authenticated %}
		<!-- Items -->
		<div class="collapse navbar-collapse" id="topNavBar">
		<ul class="nav navbar-nav">
			<li class="active">
				<a href="{% url 'index' %}">
					<span class="glyphicon glyphicon-cd" arial-hidden="true"></span>&nbsp; Albums
				</a>
			</li>
			<li class="">
				<a href="{% url 'songs' 'all' %}">
					<span class="glyphicon glyphicon-music" arial-hidden="true"></span>&nbsp; Songs
				</a>
			</li>
		</ul>
		<form class="navbar-form navbar-left" role="search" method="get" action="#">
			<div class="form-group">
			<input type="text" class="form-control" name="q" value="">
			</div>
			<button type="submit" class="btn btn-default">Search</button>

		</form>
		<ul class="nav navbar-nav navbar-right">
			<li class="">
				<a href="{% url 'album-add' %}">
					<span class="glyphicon glyphicon-plus" arial-hidden="true"></span>&nbsp; Add Album
				</a>
			</li>
			<li class="">
				<a href="{% url 'logout' %}">
					<span class="glyphicon glyphicon-off" arial-hidden="true"></span>&nbsp; Logout
				</a>
			</li>
		</ul>
		{% else %}
		<ul class="nav navbar-nav navbar-right">
			<li class="">
				<a href="{% url 'signup' %}">
					<span class="glyphicon glyphicon-on" arial-hidden="true"></span>&nbsp; Sign Up as User Manager
				</a>
			</li>
			<li class="">
				<a href="{% url 'signup' %}">
					<span class="glyphicon glyphicon-on" arial-hidden="true"></span>&nbsp; Sign Up as Admin
				</a>
			</li>
			<li class="">
				<a href="{% url 'signup' %}">
					<span class="glyphicon glyphicon-on" arial-hidden="true"></span>&nbsp; Signup
				</a>
			</li>
			<li class="">
				<a href="{% url 'login' %}">
					<span class="glyphicon glyphicon-on" arial-hidden="true"></span>&nbsp; Login
				</a>
			</li>
		</ul>
		{% endif %}

		</div>
		
	</div>
	

</nav>
{% block content %}

{% endblock %}

</body>
</html>